body {
    background: url("../images/travel_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    max-width: 100%;
}

.navbar {
    margin-bottom: 20px;
}


.link {
    font-family: 'Jomolhari', serif;
    text-align: right;
    color: rgb(72, 95, 72);
    font-size: 1.5em;
}

#search{
    display:block;
    text-align: center;
    padding-bottom: 20px;
}

#add-city{
    background: #827996;
    border:#827996;
    color: #ffff;
}

.city-name {
    text-transform: capitalize;
}

.card {
    display: inline-block;
    margin: 20px;
    border-radius: 5px;
}

#wrapper {
    background-color: #827996a2;
    text-align: center;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.restaurant-image {
    height: 200px;
    object-fit: cover;
    text-overflow: ellipsis;
}


.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px 10px;
}

.restaurant-link:link {
    color: #000;
}

.restaurant-link:visited {
    color: #000;
}

.restaurant-link:hover {
    color: #000;
}

.restaurant-link:active {
    color: #000;
}